<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>READ | Message Encryter</title>

    <link rel="icon shortcut" type="image/png" href="/images/camera-dark-icon.png">

    <link rel="stylesheet" href="/styles/error.css">

</head>
<body>

    <section class="main">
        <div class="alert">
            <p class="alert_text">Message Not Found or Does Not exist!</p>
        </div>
    </section>
</body>
</html>