<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME | Message Encryter</title>

    <link rel="icon shortcut" type="image/png" href="/images/camera-dark-icon.png">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="/styles/home.css">

</head>
<body>

    <section class="input">
        <p class="head">Enter your Message here</p>
        <textarea class="textarea" id="text" autofocus></textarea>
        <div class="encrypt" onclick="encrypt()">
            <p>Encrypt</p>
        </div>
    </section>
    
    <script>

        function encrypt() {
            let text = document.getElementById('text').value.trim();
            if(text.length > 0) {
                console.log(text);
            } else {
                console.log("Error: Empty!");
            }
        }
        
    </script>
</body>
</html>