<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME | Message Encryter</title>

    <link rel="icon shortcut" type="image/png" href="/images/camera-dark-icon.png">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="/styles/home.css">

</head>
<body>


    
    {{!-- <script>
        let year = new Date().getFullYear();
        document.getElementById('year').innerHTML = year;
    </script> --}}
</body>
</html>