<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME | Message Encryter</title>

    <link rel="icon shortcut" type="image/png" href="/images/camera-dark-icon.png">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="/styles/home.css">

</head>
<body>

    <section class="input" id="input">
        <p class="head">Enter your Message here</p>
        <textarea class="textarea" id="text" autofocus></textarea>
        <div class="encrypt" onclick="encrypt()">
            <p>Encrypt</p>
        </div>
    </section>

    <section class="output" id="output">
        <p class="head">Message Encrypted Successfully!</p>
        <div class="info">
            <p class="link">Message Link:</p>
            <p class="linkdata data"><a href="" target="_blank"></a></p>
            <p class="otp">One Time Password:</p>
            <p class="otpdata data"></p>
        </div>
    </section>

    <!-- Loader -->
    <section class="loader" id="loader">
        <div class="blck">
            <img src="/images/loader.png" alt="">
        </div>
    </section>
    
    <script>

        let input = document.getElementById('input');
        let output = document.getElementById('output');
        let loader = document.getElementById('loader');

        function encrypt() {
            let text = document.getElementById('text').value.trim();
            if(text.length > 0) {
                input.classList.add("hide");
                loader.classList.add("show");

                let url = "https://neha-submission.herokuapp.com/";

                let data = {msg: text}
                
                // making an api request
                fetch(url, {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                }).then(res => res.json()).then(data => {

                    if(data.msg == "success") {
                        document.querySelector('.output .info .linkdata a').href = data.link;
                        document.querySelector('.output .info .linkdata a').innerHTML = data.link;
                        document.querySelector('.output .info .otpdata').innerHTML = data.otp;
                        loader.classList.remove("show");
                        output.classList.add("show");
                    } else {
                        input.classList.remove("hide");
                        loader.classList.remove("show");
                        console.log(data.error);
                    }

                }).catch(err => {
                    input.classList.remove("hide");
                    loader.classList.remove("show");
                    console.log(err);
                });

            } else {
                console.log("Error: Empty!");
            }
        }
        
    </script>
</body>
</html>