<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>READ | Message Encryter</title>

    <link rel="icon shortcut" type="image/png" href="/images/camera-dark-icon.png">

    <link rel="stylesheet" href="/styles/read.css">

</head>
<body>

    <section class="main">

        <div class="MsgID" id="MsgID">{{MsgID}}</div>

        <div class="alert" id="alert">
            <p class="alert_text" id="alert_text">Message Found !</p>
        </div>
        
        <div class="input" id="input">
            <p class="head">Enter One Time Password</p>
            <input type="text" name="otp" id="otp" class="otp" autofocus>
            <div class="decrypt" onclick="decrypt()">
                <p>Decrypt</p>
            </div>
        </div>

        <div class="output" id="output">
            <p class="head">You won't be able to read this message again</p>
            <p class="msg"></p>
        </div>
    </section>


    <!-- Loader -->
    <section class="loader" id="loader">
        <div class="blck">
            <img src="/images/loader.png" alt="">
        </div>
    </section>
    
    <script>

        let input = document.getElementById('input');
        let output = document.getElementById('output');
        let loader = document.getElementById('loader');
        let alert = document.getElementById('alert');
        let alert_text = document.getElementById('alert_text');
        let MsgID = document.getElementById('MsgID').innerHTML.toString();

        function decrypt() {
            let otp = document.getElementById('otp').value.trim();
            if(otp.length == 4) {

                input.classList.add("hide");
                loader.classList.add("show");

                let url = "https://neha-submission.herokuapp.com/read";

                let data = {MsgID, otp};
                
                // making an api request
                fetch(url, {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                }).then(res => res.json()).then(data => {

                    if(data.msg == "success") {
                        alert.classList.remove("red");
                        alert_text.innerText = "Message Decrypted Successfully!";
                        output.querySelector('.msg').innerHTML = data.decryptedMSG;
                        output.classList.add("show");
                        loader.classList.remove("show");
                    } else if(data.msg == 'Invalid OTP Message Deleted!') {
                        alert.classList.add("red");
                        alert_text.innerText = data.error;
                        loader.classList.remove("show");
                    } else {
                        alert.classList.add("red");
                        alert_text.innerText = data.error;
                        input.classList.remove("hide");
                        loader.classList.remove("show");
                    }
                }).catch(err => {
                    alert.classList.add("red");
                    alert_text.innerText = "Not able to Connect the Server!";
                    input.classList.remove("hide");
                    loader.classList.remove("show");
                    console.log(err);
                });

            } else {
                alert.classList.add("red");
                alert_text.innerText = "Invalid OTP!"
            }
        }
        
    </script>
</body>
</html>
